body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

.projects {
    font-size: 1.5rem;
    margin: 10px 0;
    list-style-type: none;
}

.card {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.button {
    background-color: #748cdb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #4a6ab8;
}

.top-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .projects {
        font-size: 1.2rem;
    }

    .card {
        width: 90%;
        margin: 10px;
    }
}
